{% load staticfiles %}
<html>
<head>

  <title>Django Girls blog</title>
  <!--
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  -->
  <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static '/css/blog.css' %}">

  <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static '/css/bootstrap-theme.min.css' %}">


</head>

<body>

<div>
<h1>
  <a href="{% url 'post_list' %}">Django Girls Blog</a>
  <span><a href="{% url 'post_new' %}">  (create new post) </span></a>

</h1>
</div>

<div class="content container">
  <div class="row">
    <div class="col-md-8">
      {% block content %}
      {% endblock %}
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/ex_js.js' %}"></script>

</body>
</html>
